name: 打包 LP 混淆工具

on:
  push:
    branches: [ main ] # 当你向 main 分支推送代码时触发

jobs:
  build:
    runs-on: windows-latest # 在 Windows 环境下运行

    steps:
    - name: 检出代码
      uses: actions/checkout@v3

    - name: 设置 Python 环境
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: 安装依赖
      run: |
        python -m pip install --upgrade pip
        pip install beautifulsoup4 pyinstaller # 安装脚本运行必需的库 

    - name: 使用 PyInstaller 打包
      run: |
        pyinstaller --onefile --console --name "LP_Obfuscator" LPScrambler_Pro.py

    - name: 上传打包好的文件
      uses: actions/upload-artifact@v3
      with:
        name: LP_Obfuscator_Exe
        path: dist/LP_Obfuscator.exe
