name: 打包 LP 混淆工具

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: 检出代码
      uses: actions/checkout@v4

    - name: 设置 Python 环境
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: 安装依赖
      run: |
        python -m pip install --upgrade pip
        pip install beautifulsoup4 pyinstaller

    - name: 使用 PyInstaller 打包
      run: |
        pyinstaller --onefile --console --name "LP_Obfuscator" LPScrambler_Pro.py

    - name: 上传打包好的文件
      uses: actions/upload-artifact@v4  # 升级到 v4 以解决弃用报错
      with:
        name: LP_Obfuscator_Exe
        path: dist/LP_Obfuscator.exe
